<h1>Task Dashboard</h1>
<form method="get" action=".">
   <input type="text" name="search" placeholder="Search" value="{{ request.GET.search }}"/>
   <button type="submit">Search</button>
</form>
<a href ="{% url 'task_create' %}">Add new task</a>
<ul>
    {% for task in tasks %}
      <li>
        <strong>{{task.title}}</strong>| {{task.status}} | {{task.priority}} | {{task.due_date}}
        <form method="post" action="{% url 'change_status' task.pk %}">
         {% csrf_token %}
         {% if not task.status == "Completed" %}
           <button type="submit" name="status" value="Completed">Mark as completed</button>
          {% endif %}
          {% if not task.status == "In Progress" %}
           <button type="submit" name="status" value="In Progress">Mark as In porgress</button>
          {% endif %}
          {% if not task.status == "Pending" %}
           <button type="submit" name="status" value="Pending">Mark as Pending</button>
          {% endif %}
        </form>
        <a href = "{% url 'task_update' task.pk %}">Edit Tasks</a>
        <a href = "{% url 'task_delete' task.pk %}">Delete Tasks</a>
    </li>
    <p>
      <strong>Categories:</strong>
      {% for category in task.category.all %}
         {{category.name}}{% if not forloop.last %}, {% endif %}
      {% empty %}
         No Categories
      {% endfor %}
    </p>
    {% endfor %}
</ul>
